@font-face {
	font-family: "TW cen MT Condensed";
	src: url("../font/twcenmt.ttf");
}

html, body{
	font-family: "TW cen MT Condensed";
	background: #1e1d2f;
	color: white;
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	user-select : none;
}
button:focus{
	outline:0;
}
span:focus{
	outline:0;
}
h1{
	font-weight: normal;
	font-size: 28px;
	margin-bottom: 50px;
}
.title{
	font-weight: normal;
	font-size: 28px;
	margin-bottom: 50px;
}

.logo{
	font-family: "TW cen MT Condensed";
	color: #68e3b9;
	text-shadow: 0px 0px 50px rgba(104, 227, 185, 1);
}
.floatLeft{
	float: left;
}
.fontSize70{
	font-size: 70px;
}
.fontSize110{
	font-size: 110px;
}
.logo:before{
	content: "Dating";
}

#view{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#home{
	position: absolute;
	top: 50%;
	left: -50%;
	transition: 1s;
	transform: translate(-50%,-50%);
	text-align: center;
}
#home.active{
	left: 50%;
}
#home > img{
	height: 500px;
	margin-bottom: -150px;
	margin-top: -150px;
	pointer-events: none;
}
#home select{
	font-family: "TW cen MT Condensed";
	width: 250px;
	padding: 8px 5px;
	margin-right: 10px;
	font-size: 20px;
	border-radius: 1px;
	border: solid 2px #68e3b9;
	background: #1e1d2f;
	color: white;
}
#home button{
	font-family: "TW cen MT Condensed";
	background: #68e3b9;
	border: none;
	border-radius: 1px;
	color: #1e1d2f;
	height: 43px;
	width: 60px;
	margin-top: 0px;
	padding-bottom: 2px;
	font-size: 28px;
}
#home button:hover{
	cursor: pointer;
}
#home .search__form{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 75px;
}
#home .description{
	font-family: "TW cen MT Condensed";
	line-height: 1.5;
	font-size: 21px;
	letter-spacing: .5px;
}
#home .description span{
	color: #68e3b9;
	text-decoration: none;
}
#home .description span:hover{
	cursor: pointer;
}



#learn__more{
	position: absolute;
	top: 150%;
	left: 50%;
	transition: 1s;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 84%;
}
#learn__more.active{
	top: 50%;
}
#learn__more > img{
	height: 500px;
	margin-bottom: -150px;
	margin-top: -150px;
}
#learn__more .description{
	font-family: "TW cen MT Condensed";
	line-height: 1.5;
	font-size: 21px;
	letter-spacing: .5px;
}
#learn__more .description a{
	color: #68e3b9;
	text-decoration: none;
}

#data__container{
	width: 84%;
	height: 88%;
	top: 0;
	margin-left: 100%;
	transition: 1s;
	padding: 3% 8%;
	position: absolute;
}
#data__container.active{
	margin-left: 0;
}
#data__container .diagram{
	position: relative;
	height: 100%;
	width: 100%;
}
#data__container img.logo{
	height: 300px;
}

.panel{
	position: relative;
	width: fit-content;
	margin-left: auto;
}
.panel button{
	font-family: "TW cen MT Condensed";
	text-transform: uppercase;
	color: white;
	border: solid 1px #68e3b9;
	background: none;
	height: 50px;
	width: 170px;
	font-size: 20px;
	margin: 0px 4px;

	background: linear-gradient(to right, #68e3b9 50%, #1e1d2f 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}
.panel button.active{
	background-position: left bottom;
	color: #1e1d2f;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(104, 227, 185, .7);
}

.outer {
	margin: 50px;
}

.panel button:hover {
	background-position: left bottom;
	color: #1e1d2f;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(104, 227, 185, .7);
}

.green{
	color: #68e3b9;
}


.filter__gender{
	margin-top: 80px;
	margin-right: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: right;
}
.filter__gender div{
	margin: 35px 10px;
}

input.gender {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

label.gender {
	position: relative;
	cursor: pointer;
	opacity: .3;
	transition: .3s;
}

label.gender:after {
	content: '';
	-webkit-appearance: none;
	border-radius: 50px;
	padding: 3px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-left: 20px;
	opacity: .3;
}
label.gender.women{
	color: #fc3d81;
}
label.gender.men{
	color: #009eff;
}
label.gender.women:after{
	background-color: #FC3D81;
	box-shadow: 0px 0px 7px 3px #FC3D81;
}
label.gender.men:after{
	background-color: #009eff;
	box-shadow: 0px 0px 7px 3px #009eff;
}

input.gender:checked + label.gender, input.gender:checked + label.gender:after {
	content: '';
	opacity: 1;
}

#arrow__back{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 56px;
}
#arrow__back:hover{
	cursor: pointer;
}

.filter__age{
	margin-top: 80px;
	margin-right: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: right;
}
.filter__age > div{
	margin: 40px 40px;
	margin-left: auto;
}
.filter__age > span#slider__min{
	position: absolute;
	margin-top: 52px;
	margin-left: -27px;
}
.filter__age > span#slider__max{
	position: absolute;
	margin-top: 252px;
	margin-left: -27px;
}
.filter__age > span{
	transition: .2s;
	opacity: 1;
}
.filter__age > span.hidden{
	opacity: 0;
}
.filter__age > span#slider__min.hidden{
	transform: translateY(-10px);
}
.filter__age > span#slider__max.hidden{
	transform: translateY(10px);
}

#slider-range{
	height: 200px;
	width: 3px;
	background: #444463;
	border: none;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -7px;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 15px;
	height: 15px;
	cursor: default;
	-ms-touch-action: none;
	border-radius: 50px;
	border: none;
	touch-action: none;
	background: #68e3b9;
	box-shadow: 0px 0px 20px rgba(104, 227, 185, .7);
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
	background: #68e3b9;
	box-shadow: 0px 0px 20px rgba(104, 227, 185, .7);
}
.ui-slider-handle.ui-corner-all.ui-state-default > span{
	color: white;
	padding-left: 22px;
	position: relative;
	top: -3px;
	font-family: "TW cen MT Condensed";
	color: #68e3b9;
}

#loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#loader > .piece{
	position: absolute;
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
	margin: 0px 1px;
	top: -5px;
}
#loader > .piece.one{
	height: 30px;
	animation: piece-0 3.2s infinite;
	animation-delay:0;
	left: 0;
	background: #FC3D81;
}
@keyframes piece-0 {
	0%, 10%, 90%, 100%{
		height: 10px;
		top: -5px;
	}
	45%, 55%{
		height: 30px;
		top: -15px;
	}
}
#loader > .piece.two{
	height: 60px;
	animation: piece-1 3.2s infinite;
	animation-delay: 0.15s;
	left: 16px;
	background: #009EFF;
}
@keyframes piece-1 {
 0%, 10%, 90%, 100%{
	height: 10px;
	top: -5px;
 }
 45%, 55%{
	height: 60px;
	top: -31px;
 }
}
#loader > .piece.three{
	height: 80px;
	animation: piece-2 3.2s infinite;
	animation-delay: 0.30s;
	left: 32px;
	background: #FC3D81;
}
@keyframes piece-2 {
 0%, 10%, 90%, 100%{
	height: 10px;
	top: -5px;
 }
 45%, 55%{
	height: 80px;
	top: -37px;
 }
}
#loader > .piece.four{
	height: 90px;
	animation: piece-3 3.2s infinite;
	animation-delay: 0.45s;
	left: 48px;
	background: #009EFF;
}
@keyframes piece-3 {
 0%, 10%, 90%, 100%{
	height: 10px;
	top: -5px;
 }
 45%, 55%{
	height: 90px;
	top: -31px;
 }
}
#loader > .piece.five{
	height: 94px;
	animation: piece-4 3.2s infinite;
	animation-delay: 0.60s;
	left: 64px;
	background: #FC3D81;
}
@keyframes piece-4 {
  0%, 10%, 90%, 100%{
	height: 10px;
	top: -5px;
 }
 45%, 55%{
	height: 94px;
	top: -23px;
 }
}
#loader > .piece.six{
	height: 90px;
	animation: piece-3 3.2s infinite;
	animation-delay: 0.85s;
	left: 80px;
	background: #009EFF;
}
#loader > .piece.seven{
	height: 80px;
	animation: piece-2 3.2s infinite;
	animation-delay: 1s;
	left: 96px;
	background: #FC3D81;
}
#loader > .piece.eight{
	height: 60px;
	animation: piece-1 3.2s infinite;
	animation-delay: 1.15s;
	left: 112px;
	background: #009EFF;
}
#loader > .piece.nine{
	height: 30px;
	animation: piece-0 3.2s infinite;
	animation-delay: 1.30s;
	left: 128px;
	background: #FC3D81;
}
